main, h1{ 
  padding: 1em;
  color:rgb(255, 100, 31);
}

html{
  background-color: lightgray;
}

img{
  height: 15em;
  width: 110%;
  border-radius: 10%;
  box-shadow: 10px 5px 5px grey;
}

main p{
  background-color: gainsboro;
  color:rgb(255, 100, 31);
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px grey;
}

footer{
  border: thin solid black;
}

footer p{
  color:rgb(255, 100, 31);
}

li{
  list-style-type: None;
}